APP_ENV=local
APP_DEBUG=true
APP_KEY=piAyrN56kbjRE6vaiUuY5EU7KlvE6ukD

DB_HOST=localhost
DB_DATABASE=:memory:
DB_USERNAME=null
DB_PASSWORD=null
DB_CONNECTION=sqlite

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=helpdesk@padosoft.com
MAIL_FROM_NAME="Helpdesk Padosoft"
MAIL_PORT_WEB=1080
